
.score__container {
  margin-top: 1rem;
}
.score__table, .score__table-header, .score__table-row {
    border: 1px solid;
    border-collapse: collapse;
}
.score__table-header, .score__table-row {
  padding: 1rem;
  text-align: left;
}